@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(218, 44%, 22%);
    height: 100vh;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Card{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-width: 45vh;
    text-align: center;
    height: 70vh;
}
.Card , .the img{
    border-radius: 25px;
}
.img{
    width: 40vh;
}
.header{
    padding: 35px;  
}
.paragraph{
    font-size: 20px;
    color: hsl(220, 15%, 55%);
}
